html {
    font-size: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-variant-numeric: tabular-nums;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
img {
    width: 100%;
    
}
